{% extends "shop/base.html" %}

{% block title %}Order{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-5 shadow-lg">
            <div class="card-header text-center" style="background-color: #FF6347; color: #FFD700;">
                <h2>Order Form</h2>
            </div>
            <div class="card-body" style="background-color: #FFF8DC;">
                <form method="post" action="{% url 'order_add' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-block" style="background-color: #FFD700; color: #FF6347;">Submit Order</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
